############################################
# Visual Studio
############################################

.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

############################################
# Build Results
############################################

Release/
x64/
x86/
build/
Build/
out/

[Bb]in/
[Oo]bj/

*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.obj
*.o
*.a
*.so
*.dylib

############################################
# CMake
############################################

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

############################################
# Ninja
############################################

.ninja_deps
.ninja_log

############################################
# Logs
############################################

*.log

############################################
# Temp
############################################

*.tmp
*.temp

############################################
# OS
############################################

.DS_Store
Thumbs.db